/*Variables*/

:root {
  --linkPink-rgb: 216, 29, 216;
  --linkPurple-rgb: 98, 16, 250;
}

/*removal of arrows in input type number*/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/*Style general*/

* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

body {
  background-color: #121212;
}

.center-text {
  text-align: center;
}

.m {
  margin: 0.8vw;
}

/*Contenedores*/

.container {
  margin: 2vw;
  padding: 1vw;
  background-color: #1f1b24;
  color: rgb(var(--linkPink-rgb));
}

.box {
  border-bottom: 5px solid transparent;
  border-image: linear-gradient(
    to right,
    rgb(var(--linkPink-rgb)) 33%,
    blue 50%,
    rgb(var(--linkPurple-rgb)) 75%
  );
  border-image-slice: 1;
}

.grid {
  display: grid;
  grid-template-columns: 100px;
  grid-gap: 10px;
  justify-content: start;
  justify-items: start;
}

article {
  display: grid;
  grid-template-columns: 1;
  grid-auto-rows: minmax(100px, auto);
}

@media screen and (min-width: 1025px) {
  article {
    display: grid;
    grid-template-columns: repeat(2, 0.4fr);
  }
}
/*inputs*/

a {
  text-decoration: none;
  color: pink;
}

input[type="number"] {
  background-color: #121212;
  padding: 2px;
  color: white;
  border-radius: 3px;
  border-width: 5px;
  border-color: gray;
}

input[type="text"] {
  background-color: #121212;
  padding: 2px;
  color: white;
  border-radius: 3px;
  border-width: 5px;
  border-color: gray;
}

input[type="submit"] {
  font-size: larger;
  background-color: #121212;
  color: white;
  padding: 0.3rem;
  border: 4px solid transparent;
  border-image: linear-gradient(
    to right,
    rgb(var(--linkPink-rgb)) 33%,
    blue 50%,
    rgb(var(--linkPurple-rgb)) 75%
  );
  border-image-slice: 1;
}

input[type="submit"]:hover {
  background-color: #332940;
  color: purple;
}

input[type="button"] {
  font-size: larger;
  background-color: #121212;
  color: white;
  padding: 0.3rem;
  border: 4px solid transparent;
  border-image: linear-gradient(
    to right,
    rgb(var(--linkPink-rgb)) 33%,
    blue 50%,
    rgb(var(--linkPurple-rgb)) 75%
  );
  border-image-slice: 1;
}

input[type="button"]:hover {
  background-color: #332940;
  color: purple;
}

/*elements*/

span {
  font-size: large;
}

img {
  max-width: 300px;
  max-height: 300px;
}
